streamlit>=1.52.0

pandas>=2.2.0
numpy>=2.3.0

datasets>=4.4.0
sentence-transformers>=5.2.0
transformers>=4.57.0
torch>=2.0.0

langchain>=0.2.2
langchain-community>=0.2.0
langchain-groq>=0.1.0
langchain-huggingface>=0.0.6

faiss-cpu>=1.8.0

docx2txt>=0.9
python-pptx>=1.0.2
PyMuPDF>=1.26.0

huggingface-hub>=0.36.0

